@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Utilities
@model LibraryProject.Models.Book
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>
                @Model.Title
            </h1>
            <div class="row">
                <div class="col-10">
                    <p>By @Model.AuthorFirstName @Model.AuthorLastName</p>
                </div>
                <div class="col-2">
                    @Model.genre.name
                </div>
            </div>
            
        </div>
        <div class="card-body">
            <div class="container rounded">
                <div class="row">
                    <div class="col-8">
                        @Model.Description
                    </div>
                    <div class="col-4">
                        <img src="@Model.ImageUrl" />
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                @if (User.IsInRole(SD.Role_Admin_Employee) || User.IsInRole(SD.Role_Assistant_Employee) || User.IsInRole(SD.Role_Librarian_Employee))
                {
                    <div class="col">
                        @if (Model.CheckedOut == Model.Total)
                        {
                            <button type="button" class="btn btn-secondary" disabled>Check Out</button>
                        }
                        else
                        {
                            <a asp-area="User" asp-controller="BookView" asp-action="CheckOut" asp-route-id="@Model.id" class="btn btn-primary">Check Out</a>
                        }
                    </div>
                    <div class="col">
                        @if (Model.CheckedOut == 0)
                        {
                            <button type="button" class="btn btn-secondary" disabled>Check In</button>
                        }
                        else
                        {
                            <a asp-area="User" asp-controller="BookView" asp-action="CheckIn" asp-route-id="@Model.id" class="btn btn-success">Check In</a>
                        }
                    </div>
                }
                <div class="col">
                    <a asp-action="Index" class="btn btn-success form-control">Back To List</a>
                </div>
            </div>
        </div>
    </div>
</div>